<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.UserMapper">


    <resultMap id="BaseResultMap" type="com.example.demo.entity.User">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="roomId" property="roomid" jdbcType="INTEGER"/>
        <result column="roleId" property="roleid" jdbcType="INTEGER"/>
        <result column="classId" property="classid" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="realName" property="realname" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="telephone" property="telephone" jdbcType="INTEGER"/>
        <result column="idCard" property="idcard" jdbcType="VARCHAR"/>
        <result column="payId" property="payId" jdbcType="INTEGER"/>

        <association property="userclass" javaType="com.example.demo.entity.UserClass">
            <id property="id" column="id"/>
            <result property="classname" column="classname"/>
            <result property="teacher" column="teacher"/>
            <result property="openinghours" column="openinghours"/>
        </association>
        <association property="room" javaType="com.example.demo.entity.Room">
            <id column="id" property="id"/>
            <result column="room" property="room"/>
            <result column="number" property="number"/>
            <result column="size" property="face"/>
            <result column="face" property="face"/>
            <result column="square" property="square"/>
        </association>
        <association property="roomMoney" javaType="com.example.demo.entity.RoomMoney">
            <result column="roomId" property="roomId"/>
            <result column="waterNum" property="waterNum"/>
            <result column="electricNum" property="electricNum"/>
            <result column="price" property="price"/>
            <result column="readingDay" property="readingDay"/>
        </association>

    </resultMap>


    <sql id="Base_Column_List">
    id, roomId, roleId, classId, name, realName, password, telephone, idCard , payId
    </sql>

    <select id="findByCondition" resultMap="BaseResultMap" parameterType="com.example.demo.util.QueryCondition">
        select u.realName , r.room , c.classname , u.payId , m.readingDay
        from bbh_user_user u,bbh_class c , bbh_room_room r , bbh_room_money m
        <where>
            c.id = u.classId and r.id = u.roomId and m.roomId = r.id
            <if test="startDay !=null and endDay!=null ">
                and m.readingDay BETWEEN #{startDay} and DATE_ADD(#{endDay},INTERVAL 1 DAY)
            </if>
            <if test="roomid !=null and roomid != 0 ">
                and u.roomId = #{roomid}
            </if>
            <if test="classid !=null and classid != 0">
                and u.classId = #{classid}
            </if>
            <if test="payId !=null and payId != 0">
                and u.payId = #{payId}
            </if>
        </where>
    </select>


    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from bbh_user_user
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="findStudentById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT r.room  , u.roomId  ,  r.number , m.electricNum ,
    m.waterNum , m.price ,m.readingDay , u.payId
    FROM bbh_room_room r, bbh_user_user u , bbh_room_money m
    WHERE u.roomId = r.id AND m.roomId = r.id AND u.id = #{id}
    and payId = #{payId}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
      delete from bbh_user_user
      where id = #{id,jdbcType=INTEGER}
    </delete>


    <insert id="insert" parameterType="com.example.demo.entity.User">
        insert into bbh_user_user (id, roomId, roleId,
        classId, name, realName,
        password, telephone, idCard
        )
        values (#{id,jdbcType=INTEGER}, #{roomid,jdbcType=INTEGER}, #{roleid,jdbcType=INTEGER},
        #{classid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{realname,jdbcType=VARCHAR},
        #{password,jdbcType=VARCHAR}, #{telephone,jdbcType=INTEGER}, #{idcard,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.example.demo.entity.User">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        insert into bbh_user_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="roomid != null">
                roomId,
            </if>
            <if test="roleid != null">
                roleId,
            </if>
            <if test="classid != null">
                classId,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="realname != null">
                realName,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="telephone != null">
                telephone,
            </if>
            <if test="idcard != null">
                idCard,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="roomid != null">
                #{roomid,jdbcType=INTEGER},
            </if>
            <if test="roleid != null">
                #{roleid,jdbcType=INTEGER},
            </if>
            <if test="classid != null">
                #{classid,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="realname != null">
                #{realname,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="telephone != null">
                #{telephone,jdbcType=INTEGER},
            </if>
            <if test="idcard != null">
                #{idcard,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.entity.User">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        update bbh_user_user
        <set>
            <if test="roomid != null">
                roomId = #{roomid,jdbcType=INTEGER},
            </if>
            <if test="roleid != null">
                roleId = #{roleid,jdbcType=INTEGER},
            </if>
            <if test="classid != null">
                classId = #{classid,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="realname != null">
                realName = #{realname,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="telephone != null">
                telephone = #{telephone,jdbcType=INTEGER},
            </if>
            <if test="idcard != null">
                idCard = #{idcard,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>


    <update id="updateByPrimaryKey" parameterType="com.example.demo.entity.User">
    update bbh_user_user
    set roomId = #{roomid,jdbcType=INTEGER},
      roleId = #{roleid,jdbcType=INTEGER},
      classId = #{classid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      realName = #{realname,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=INTEGER},
      idCard = #{idcard,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>